Repository unicode-org/message-format-wg, pull requests merged in 2023-08, with the labels that each got.

#443 Drop the Literal quoted flag from the data model
  spec/data-model.md
Labels: data model

#439 Add JSON Schema & XML DTD definitions of message data model
  spec/README.md
  spec/data-model/README.md
  spec/data-model/message.dtd
  spec/data-model/message.json
Labels: data model

#444 Clarify that Reserved may also represent private-use in data model
  spec/data-model/README.md
  spec/data-model/message.dtd
  spec/data-model/message.json
Labels: data model

#454 New process: design proposal template
  exploration/0000-design-proposal-template.md
Labels: Agenda+

#464 More Prettier action fixing
  .github/workflows/prettier.yaml
  .gitignore
  package.json
Labels: fast-track
