Repository unicode-org/message-format-wg, pull requests merged in 2023-09, with the labels that each got.

#461 Add proposed/accepted status to design docs
  exploration/0000-design-proposal-template.md
Labels: design, meta, fast-track

#458 Add design doc for expression attributes
  exploration/0002-expression-attributes.md
Labels: design, Agenda+

#456 Allow expressions without annotations to dynamically choose a function
  spec/formatting.md
Labels: Agenda+, formatting

#468 Add missing "Status: Proposed" to expression attributes design doc
  exploration/0002-expression-attributes.md
Labels: fast-track

#476 Clarify eager vs. lazy evaluation
  spec/formatting.md
Labels: normative, formatting

#472 Add stability policy
  spec/README.md
Labels: meta, normative, specification
