Repository unicode-org/message-format-wg, pull requests merged in 2024-04, with the labels that each got.

#762 Remove registry.dtd and registry.xml from Tech Preview
  spec/registry.dtd
  spec/registry.xml
Labels: registry, fast-track, LDML45

#761 Tests for invalid number literals
  test/test-functions.json
Labels: LDML45, test-suite

#760 Remove expected output from date/time formatter tests
  test/README.md
  test/test-functions.json
Labels: fast-track, formatting, LDML45, test-suite

#764 Fix formatting (LDML45 cleanup)
  spec/README.md
  spec/appendices.md
  spec/formatting.md
  spec/syntax.md
Labels: fast-track, editorial, LDML45

#765 Linkify the specification
  docs/tools/linkify.js
Labels: documentation, editorial, specification, LDML46

#754 [DESIGN] Bidi usability
  exploration/bidi-usability.md
Labels: syntax, design, Action-Item, LDML46

#772 Add use case for `source` expression attribute
  exploration/expression-attributes.md
Labels: syntax, design, LDML46

#771 Remove inappropriate normative statement from errors
  spec/errors.md
Labels: normative, errors, LDML46

#767 Add new test schema
  test/.vscode/settings.json
  test/README.md
  test/data-model-errors.json
  test/schemas/v0/tests.schema.json
  test/syntax-errors.json
  test/test-core.json
  test/test-core.json.d.ts
  test/test-functions.json
  test/test-functions.json.d.ts
  test/tests/data-model-errors.json
  test/tests/functions/date.json
  test/tests/functions/datetime.json
  test/tests/functions/integer.json
  test/tests/functions/number.json
  test/tests/functions/string.json
  test/tests/functions/time.json
  test/tests/syntax-errors.json
  test/tests/syntax.json
Labels: normative, test-suite, LDML46

#776 Avoid presumptive use of "always"
  spec/errors.md
Labels: documentation, editorial, errors

#773 Add note about updates adding options causing errors
  spec/registry.md
Labels: registry, editorial, LDML46

#777 Add notes for 2024-04-29
  meetings/2024/notes-2024-04-29.md
Labels: organizational, fast-track
