Repository unicode-org/message-format-wg, pull requests merged in 2024-08, with the labels that each got.

#804 Add design doc for error handling
  exploration/error-handling.md
Labels: design, Action-Item, errors

#850 Add table of errors to test README (#706)
  test/README.md
Labels: test-suite

#851 Add syntax tests for unsupported expressions and statements (#843)
  test/tests/unsupported-expressions.json
  test/tests/unsupported-statements.json
Labels: fast-track, test-suite

#844 Add more exhaustive syntax tests (#843)
  test/tests/syntax-errors.json
  test/tests/syntax.json
Labels: fast-track, test-suite, LDML46

#858 Fix typo in example
  spec/formatting.md
Labels: fast-track, formatting

#854 Allow whitespace at complex-message start
  spec/message.abnf
  spec/syntax.md
  test/tests/syntax.json
Labels: syntax

#853 Add Duplicate Variant error
  spec/errors.md
  spec/syntax.md
  test/schemas/v0/tests.schema.json
  test/tests/data-model-errors.json
Labels: syntax, errors

#811 [DESIGN] Implement changes to bidi to permit non-strict formation
  exploration/bidi-usability.md
Labels: syntax, design, normative, Agenda+, LDML46

#845 Accept attributes design & remove spec note
  exploration/expression-attributes.md
  spec/data-model/README.md
  spec/data-model/message.dtd
  spec/data-model/message.json
  spec/formatting.md
  spec/syntax.md
Labels: syntax, data model, formatting

#867 Update selection-declaration design doc based on mtg / issue discussion
  exploration/selection-declaration.md
Labels: design, formatting

#863 Add tests for pattern selection
  test/README.md
  test/tests/functions/number.json
  test/tests/pattern-selection.json
Labels: test-suite

#861 Add Duplicate Variant to table in test/README.md
  test/README.md
Labels: documentation, fast-track, editorial, test-suite

#834 Update the stability policy
  spec/README.md
Labels: normative, Agenda+, Action-Item, specification

#816 Refine error handling text
  spec/errors.md
  spec/formatting.md
Labels: normative, formatting, errors

#870 Add hybrid option to selection-declaration.md
  exploration/selection-declaration.md
Labels: design, fast-track, formatting

#824 Select "Match on variables instead of expressions" for selection-declarations
  exploration/selection-declaration.md
Labels: syntax, design, Agenda+

#874 Fix "Allow immutable input declarative selectors" example
  exploration/selection-declaration.md
Labels: fast-track, editorial
