Repository unicode-org/message-format-wg, pull requests merged in 2024-11, with the labels that each got.

#917 Fix tests for bidirectional isolation
  test/schemas/v0/tests.schema.json
  test/tests/bidi.json
  test/tests/functions/date.json
  test/tests/functions/datetime.json
  test/tests/functions/integer.json
  test/tests/functions/number.json
  test/tests/functions/string.json
  test/tests/functions/time.json
  test/tests/syntax.json
  test/tests/u-options.json
Labels: test-suite

#859 [DESIGN] Number selection design refinements
  exploration/number-selection.md
Labels: design, formatting

#919 Do not initialise function context direction from message direction
  spec/formatting.md
Labels: fast-track, formatting

#927 Replace Composition with Resolved Value sections for default functions
  spec/registry.md
Labels: registry

#925 Provide normative guidance on function/option/option value impl.
  spec/errors.md
  spec/registry.md
Labels: registry, normative, LDML46.1

#915 Implement `:currency` function in the default registry
  spec/registry.md
Labels: registry, fast-track, LDML46.1

#934 Remove tech preview note from `:string`
  spec/registry.md
Labels: fast-track, editorial, LDML46.1

#929 Limit spec-defined option values
  spec/README.md
Labels: normative, specification, LDML46.1

#932 Add a :math function, for addition and subtraction
  spec/registry.md
  test/tests/functions/math.json
Labels: registry, LDML46.1

#933 Define matching for simple integers, leave others up to implementations
  spec/registry.md
  test/tests/functions/integer.json
Labels: registry, fast-track, LDML46.1

#903 Fix fallback value definition and use
  spec/formatting.md
  test/tests/fallback.json
  test/tests/functions/number.json
Labels: formatting, LDML46.1

#945 Internationalize the `:math` example
  spec/registry.md
Labels: registry, fast-track, editorial, LDML46.1

#944 Address "implementation-defined" literal and type values
  spec/registry.md
Labels: registry, normative, Agenda+, LDML46.1

#942 Always apply isolation when `u:dir` is set
  spec/formatting.md
  spec/u-namespace.md
  test/tests/u-options.json
Labels: Agenda+, formatting

#941 Linkify stability policy
  spec/README.md
Labels: editorial, Agenda+, specification, LDML46.1

#940 Add tests for :currency
  test/tests/functions/currency.json
Labels: fast-track, test-suite, LDML46.1

#939 Drop exp value for :number tests with bad option values
  test/tests/functions/number.json
Labels: test-suite, LDML46.1

#948 Add hour12 date/time override option
  spec/registry.md
Labels: registry, fast-track, LDML46.1

#947 Fix normative-in-informative
  spec/formatting.md
Labels: fast-track, formatting, LDML46.1

#946 Change standard/optional to required/recommended
  exploration/maintaining-registry.md
  spec/registry.md
Labels: registry, fast-track, editorial, LDML46.1

#949 Add calendar and numberingSystem options to date/time
  spec/registry.md
Labels: registry, LDML46.1

#951 Remove obsolete note about `calendar`/`numberingSystem`/`timeZone` op…
  spec/registry.md
Labels: registry, fast-track, editorial, LDML46.1

#950 Create option `timezone` as Proposed REQUIRED option
  spec/registry.md
Labels: registry, normative, LDML46.1

#952 Final tidying of specification for balloting
  spec/appendices.md
  spec/formatting.md
  spec/u-namespace.md
Labels: fast-track, editorial, LDML46.1

#953 Prepare Repo for 46.1
  README.md
  docs/why_mf_next.md
Labels: documentation, fast-track, editorial, LDML46.1

#922 Implement `:unit` as Proposed RECOMMENDED in the registry
  spec/registry.md
Labels: registry, LDML46.1
