Repository unicode-org/message-format-wg, pull requests merged in 2024-01, with the labels that each got.

#564 (Design) Default registry and MF1 compatibility matrix
  exploration/default-registry-and-mf1-compatibility.md
Labels: registry, Agenda+, LDML45

#576 Forbid {�} as a valid expression
  spec/message.abnf
  spec/syntax.md
Labels: syntax, blocker-candidate, fast-track, normative, LDML45

#585 Flatten JSON & TS data model Pattern element
  spec/data-model/README.md
  spec/data-model/message.json
Labels: data model, LDML45

#581 Add :stringified, :enum as alternative in the exact match selector design doc
  exploration/exact-match-selector-options.md
Labels: LDML45

#591 Fix merge of markup PR
  spec/data-model/README.md
  spec/data-model/message.json
Labels: data model, fast-track, editorial

#592 Add @attributes as reserved
  spec/data-model/README.md
  spec/data-model/message.dtd
  spec/data-model/message.json
  spec/formatting.md
  spec/message.abnf
  spec/syntax.md
Labels: syntax, data model, formatting, LDML45

#577 Clarify that Duplicate Option Name is a data model error
  spec/formatting.md
  spec/syntax.md
Labels: specification, LDML45

#588 Add security considerations section
  spec/appendices.md
Labels: Agenda+, Action-Item, specification, LDML45

#594 Add `:string` as formatter and selector
  exploration/exact-match-selector-options.md
  spec/registry.xml
Labels: requirements, design, registry, Agenda+, LDML45

#597 Add missing hourCycle to :datetime timeStyle/dateStyle <formatSignature>
  spec/registry.xml
Labels: registry, fast-track, editorial

#593 Split errors into their own section
  spec/README.md
  spec/errors.md
  spec/formatting.md
  spec/syntax.md
Labels: documentation, editorial, specification, formatting, LDML45

#580 Clarify Duplicate Declaration error
  spec/errors.md
  spec/syntax.md
Labels: specification, LDML45

#562 Add content-char as common root of simple-start-char, text-char, quoted-char & reserved-char
  spec/message.abnf
  spec/syntax.md
Labels: syntax, editorial, specification

#566 Improve bidi isolation requirements
  spec/formatting.md
Labels: normative, formatting, LDML45

#606 Update README.md for use in announcements.
  README.md
  docs/goals.md
Labels: documentation, fast-track, editorial, LDML45

#607 Update why_mf_next.md
  docs/why_mf_next.md
Labels: documentation, fast-track, editorial, LDML45

#599 Update default registry design doc to reflect LDML45 scope
  exploration/default-registry-and-mf1-compatibility.md
Labels: registry, LDML45

#611 Replace 'shape' with better terminology
  spec/formatting.md
Labels: editorial, normative, formatting, LDML45

#604 Add a JSON test suite
  test/README.md
  test/format/en_US.xml
  test/format/es_MX.xml
  test/format/ru_RU.xml
  test/formattest.xsd
  test/syntax-errors.json
  test/test-core.json
  test/test-core.json.d.ts
  test/test-functions.json
  test/test-functions.json.d.ts
Labels: requirements, LDML45, test-suite

#613 Beautify the ABNF
  spec/message.abnf
Labels: syntax, fast-track, editorial, LDML45

#615 Port ABNF fix to relevant mention in syntax document
  spec/syntax.md
Labels: syntax, fast-track, LDML45

#617 Accept proposal on built-in registry capabilities
  exploration/builtin-registry-capabilities.md
Labels: registry, Agenda+, LDML45

#560 Add a `<matchSignature>` for `:number`, together with `:ordinal` & `:plural` aliases
  spec/registry.xml
Labels: registry, LDML45

#618 Clean up MF1 compatibility matrix
  exploration/default-registry-and-mf1-compatibility.md
Labels: design, editorial
