Repository unicode-org/message-format-wg, pull requests merged in 2024-10, with the labels that each got.

#728 Add Resolved Values and Function Handler sections to formatting
  spec/errors.md
  spec/formatting.md
  spec/registry.md
  spec/syntax.md
  test/README.md
Labels: formatting, LDML46.1

#823 Define function composition for :number and :integer values
  spec/registry.md
Labels: registry

#905 Apply NFC normalization during :string key comparison
  spec/registry.md
Labels: formatting

#902 Add tests for changes due to bidi/whitespace
  test/tests/bidi.json
Labels: syntax, test-suite, LDML46.1

#814 Define function composition for date/time values
  spec/registry.md
  test/tests/functions/date.json
  test/tests/functions/time.json
Labels: registry

#806 DESIGN: Add alternative designs to the design doc on function composition
  exploration/function-composition-part-1.md
Labels: design, resolve-candidate, normative, Agenda+, formatting, LDML46.1

#907 Add test for :integer and :number composition
  test/tests/functions/integer.json
Labels: fast-track, test-suite

#912 Fix `:integer` option `useGrouping` values
  spec/registry.md
Labels: registry, LDML46.1

#910 Drop syntax note on additional bidi changes
  spec/syntax.md
Labels: syntax, LDML46.1

#904 Add tests for changes due to #885 (name/literal equality)
  test/tests/functions/string.json
  test/tests/syntax.json
Labels: test-suite, LDML46.1

#846 Add u: options namespace
  spec/README.md
  spec/formatting.md
  spec/u-namespace.md
  test/README.md
  test/schemas/v0/tests.schema.json
  test/tests/u-options.json
Labels: registry, specification, formatting, test-suite

#798 Define function composition for :string values
  spec/registry.md
Labels: registry

#909 Drop data model request for feedback on "name"
  spec/data-model/README.md
Labels: data model

#906 Allow surrogates in content, issue #895
  spec/appendices.md
  spec/message.abnf
  spec/syntax.md
Labels: syntax, normative, Agenda+, LDML46.1

#920 Define "option resolution" and require order to be insignificant
  spec/formatting.md
Labels: normative, Agenda+, formatting, LDML46.1

#921 Clean up `quoted-pattern` definition
  spec/message.abnf
  spec/syntax.md
Labels: syntax, fast-track, editorial, LDML46.1

#901 Clarify note about eager vs. lazy evaluation
  spec/formatting.md
Labels: normative, formatting, LDML46.1

#913 Add a link to messageformat.dev to the README file
  README.md
Labels: fast-track, editorial
