Repository unicode-org/message-format-wg, pull requests merged in 2024-07, with the labels that each got.

#812 Allow trailing whitespace for complex messages
  spec/message.abnf
  spec/syntax.md
  test/tests/syntax.json
Labels: syntax, normative, Agenda+, LDML46

#822 Remove duplicate test cases in number.json
  test/tests/functions/number.json
Labels: fast-track, test-suite

#826 Apply minor test fixes
  test/tests/functions/number.json
  test/tests/syntax.json
Labels: fast-track, test-suite

#813 Default to medium rather than short dateStyle
  exploration/default-registry-and-mf1-compatibility.md
  spec/registry.md
Labels: registry, normative, Action-Item

#780 Add contextual options to expression-attributes design doc
  exploration/expression-attributes.md
Labels: design, formatting

#825 Rename `quoted` as `quoted-literal` and `unquoted` as `unquoted-literal`
  spec/data-model/README.md
  spec/formatting.md
  spec/message.abnf
  spec/syntax.md
Labels: syntax, editorial

#836 [DESIGN] [FAST-TRACK] Fix the titles of two design options to match their contents
  exploration/selection-declaration.md
Labels: design, fast-track, formatting

#827 Test suite: Add `$schema` to scenarios, drop `expCleanSrc`
  test/.vscode/settings.json
  test/schemas/v0/tests.schema.json
  test/tests/data-model-errors.json
  test/tests/functions/date.json
  test/tests/functions/datetime.json
  test/tests/functions/integer.json
  test/tests/functions/number.json
  test/tests/functions/string.json
  test/tests/functions/time.json
  test/tests/syntax-errors.json
  test/tests/syntax.json
Labels: fast-track, test-suite
