Repository unicode-org/message-format-wg, pull requests merged in 2024-03, with the labels that each got.

#697 Prepare front-door for Tech Preview
  README.md
Labels: organizational, editorial, Agenda+, Action-Item, LDML45

#699 Drop obsolete mention of "kind" in function-annotation JSON Schema definition
  spec/data-model/message.json
Labels: data model, fast-track

#705 Further front-door prep
  README.md
Labels: documentation, LDML45

#696 Add tests from messageformat@4.0.0-7
  test/syntax-errors.json
  test/test-core.json
  test/test-functions.json
Labels: LDML45, test-suite

#714 Remove tests that require non-integer matching
  test/test-functions.json
Labels: fast-track, test-suite

#708 Separate data model errors from syntax errors
  test/README.md
  test/data-model-errors.json
  test/syntax-errors.json
Labels: fast-track, test-suite

#722 Correct typo in `:date` section
  spec/registry.md
Labels: fast-track, editorial

#710 Clarify (again) that Duplicate Option Name is a data model error
  spec/formatting.md
Labels: fast-track, editorial, formatting

#727 Disallow U+3000 as the last character of a reserved-body.
  spec/message.abnf
  spec/syntax.md
Labels: syntax, fast-track, LDML45

#719 Remove references to "RangeError" in spec tests
  test/test-functions.json
Labels: Agenda+, test-suite

#732 Fix #726: remove :time/:datetime compose test
  test/test-functions.json
Labels: fast-track, Agenda+, LDML45, test-suite

#733 chore: update licensing
  LICENSE
Labels: organizational, fast-track, Action-Item

#742 Fix "unsupported expression" example
  spec/errors.md
Labels: fast-track, LDML45, errors

#731 Disallow whitespace as the first character of a reserved-body in a reserved-statement.
  spec/message.abnf
  spec/syntax.md
Labels: syntax, fast-track, LDML45

#737 Create ack section
  spec/appendices.md
Labels: documentation, fast-track, specification, LDML45

#750 Clarify that .match selectors are not declarations
  spec/formatting.md
  spec/syntax.md
Labels: fast-track, formatting, LDML45

#741 Define non-negative integer option
  spec/registry.md
Labels: registry, LDML45

#751 Clarify that options and attributes are unordered
  spec/formatting.md
  spec/syntax.md
Labels: syntax, fast-track, formatting
