Repository unicode-org/message-format-wg, pull requests merged in 2024-09, with the labels that each got.

#875 Update README.md
  README.md
Labels: organizational, fast-track

#871 [DESIGN] Update bidi design document to show proposed design
  exploration/bidi-usability.md
Labels: syntax, design, blocker-candidate

#862 Miscellaneous test fixes
  test/tests/data-model-errors.json
  test/tests/syntax-errors.json
  test/tests/syntax.json
Labels: fast-track, test-suite

#876 Update contributing and joining info
  CONTRIBUTING.md
  README.md
Labels: organizational, fast-track

#879 Clarify error & fallback handling
  spec/errors.md
  spec/formatting.md
  spec/syntax.md
Labels: errors

#878 Clarify rule selection
  spec/registry.md
Labels: registry, normative, LDML46

#634 [DESIGN] Maintaining the Standard, Optional and Unicode Namespace Function Sets
  exploration/maintaining-registry.md
Labels: design, registry, blocker-candidate, Agenda+, LDML46

#880 Fix a typo in an example
  spec/formatting.md
Labels: fast-track

#883 Remove forward-compatibility promise and all reserved & private syntax
  spec/README.md
  spec/data-model/README.md
  spec/data-model/message.dtd
  spec/data-model/message.json
  spec/errors.md
  spec/formatting.md
  spec/message.abnf
  spec/registry.md
  spec/syntax.md
  test/README.md
  test/schemas/v0/tests.schema.json
  test/tests/syntax-errors.json
  test/tests/syntax.json
  test/tests/unsupported-expressions.json
  test/tests/unsupported-statements.json
Labels: syntax, data model, normative, formatting, test-suite, errors

#877 Match on variables instead of expressions
  README.md
  exploration/registry-xml/README.md
  exploration/selection-declaration.md
  spec/data-model/README.md
  spec/data-model/message.dtd
  spec/data-model/message.json
  spec/errors.md
  spec/formatting.md
  spec/message.abnf
  spec/registry.md
  spec/syntax.md
  test/tests/data-model-errors.json
  test/tests/functions/integer.json
  test/tests/functions/string.json
  test/tests/pattern-selection.json
  test/tests/syntax-errors.json
  test/tests/syntax.json
Labels: syntax, design

#884 Add bidi support and address UAX31/UTS55 requirements
  spec/formatting.md
  spec/message.abnf
  spec/syntax.md
Labels: syntax, normative, specification, LDML46

#882 Specify `bad-option` for bad digit size option values
  spec/registry.md
Labels: registry, errors, LDML46

#885 Address name and literal equality
  spec/formatting.md
  spec/syntax.md
Labels: syntax, normative, LDML46

#890 Update list of normative changes during the LDML45 period
  README.md
Labels: documentation, fast-track, editorial, LDML46

#892 Fix typos in data-model-errors tests
  test/tests/data-model-errors.json
Labels: fast-track, test-suite, LDML46

#891 Update note on exact numeric match for v46
  spec/registry.md
Labels: fast-track, editorial, Action-Item, specification, LDML46

#894 Fix attribute value to be literal
  spec/message.abnf
Labels: syntax, fast-track, LDML46
