Repository unicode-org/message-format-wg, pull requests merged in 2024-02, with the labels that each got.

#627 Correct link to function registry spec
  spec/syntax.md
Labels: fast-track

#623 Describe date/time formatting functions and options
  exploration/default-registry-and-mf1-compatibility.md
Labels: registry, normative, LDML45

#631 Clarify when "additional processing" of a named value occurs
  spec/formatting.md
Labels: fast-track, editorial, formatting, LDML45

#582 Allow options on closing markup placeholders
  exploration/open-close-placeholders.md
Labels: LDML45

#649 Add options to close (spec)
  spec/data-model/README.md
  spec/data-model/message.dtd
  spec/data-model/message.json
  spec/formatting.md
  spec/message.abnf
  spec/syntax.md
Labels: syntax, Action-Item, LDML45

#644 Clarify the data model introduction
  spec/data-model/README.md
Labels: data model, Action-Item, LDML45

#643 Add data model to stability policy
  spec/README.md
Labels: Action-Item, specification, LDML45

#633 Make arrays in the data model not optional
  spec/data-model/README.md
Labels: data model, Action-Item, LDML45

#654 Remove expression attributes from stability policy
  spec/README.md
Labels: LDML45

#648 Implement changes to date/time functions
  exploration/default-registry-and-mf1-compatibility.md
Labels: registry, Action-Item, LDML45

#655 Merge the unsupported-annotation sigil into its source in the data model
  spec/data-model/README.md
  spec/data-model/message.dtd
  spec/data-model/message.json
Labels: data model, fast-track, LDML45

#656 Reduce strictness of datetime field options
  exploration/default-registry-and-mf1-compatibility.md
Labels: registry, fast-track, editorial, LDML45

#657 Port ABNF changes and fomatting to syntax document
  spec/syntax.md
Labels: syntax, fast-track, editorial, specification, LDML45

#660 Define `:string`
  exploration/string-selection-formatting.md
Labels: design, registry, fast-track, LDML45

#625 Remove non-registry functions and options from examples
  spec/errors.md
  spec/formatting.md
  spec/syntax.md
Labels: documentation, editorial, Agenda+, LDML45

#672 Drop "quoted" remnants from JSON Schema & DTD data models
  spec/data-model/message.dtd
  spec/data-model/message.json
Labels: data model, fast-track, editorial

#671 Fix #670: fix `content-char`
  spec/message.abnf
  spec/syntax.md
Labels: syntax, fast-track, LDML45

#570 Add `:date` and `:time` functions
  spec/registry.xml
Labels: registry, LDML45

#647 Add tech preview attribute recommendation
  spec/syntax.md
Labels: syntax, Action-Item, LDML45

#668 Address #575: say that data model uses `name` for `identifier`
  spec/data-model/README.md
Labels: data model, fast-track, editorial, LDML45

#666 Address #619: add a note about `*` variant
  spec/formatting.md
Labels: fast-track, editorial, specification, formatting, LDML45

#674 Address phrasing comment on #647
  spec/syntax.md
Labels: syntax, fast-track, editorial, LDML45

#659 Implement the default registry in the spec
  spec/registry.md
Labels: registry, normative, LDML45

#679 Rename <key default> as <key catchall> in message.dtd
  spec/data-model/message.dtd
Labels: data model, fast-track, editorial

#684 Address #683: make registry data model non-TP
  spec/registry.md
Labels: registry, fast-track, LDML45

#688 Reserve the "u" namespace
  spec/syntax.md
Labels: registry, fast-track, LDML45

#690 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: organizational, fast-track

#691 Note the need to quote `2-digit`
  spec/registry.md
Labels: registry, fast-track, LDML45

#692 Add note about bidi for Tech Preview period
  spec/syntax.md
Labels: syntax, fast-track, LDML45

#682 Do not allow null characters in message source
  spec/message.abnf
  spec/syntax.md
Labels: syntax, normative, Agenda+, specification

#681 Add note about XML C0 characters adding restrictions
  spec/data-model/README.md
Labels: data model, fast-track, editorial

#686 Add note to "Function Resolution" section about function argument and result types
  spec/formatting.md
Labels: fast-track, normative, Action-Item, formatting

#694 Fix formatting of a note
  spec/formatting.md
Labels: fast-track, formatting, LDML45
