Repository unicode-org/message-format-wg, pull requests merged in 2025-07, with the labels that each got.

#1087 Rename :math tests as :offset tests
  test/tests/functions/offset.json
Labels: fast-track, test-suite

#1088 Create notes-2025-07-14.md
  meetings/2025/notes-2025-07-14.md
Labels: fast-track

#1084 Fix contradiction in markup resolution
  spec/formatting.md
Labels: normative, formatting, LDML48

#1068 Design document for percent formatting
  exploration/percent-format.md
Labels: design, functions, LDML48

#1078 Define time zone values and conversions
  spec/functions/datetime.md
Labels: functions

#1067 Semantic skeletons design
  exploration/semantic-skeletons.md
Labels: design
