Repository unicode-org/message-format-wg, pull requests merged in 2025-03, with the labels that each got.

#1045 Tests: Move '+' as unquoted literal from syntax-errors to syntax
  test/tests/syntax-errors.json
  test/tests/syntax.json
Labels: fast-track, test-suite, LDML47

#1047 Tests: Add some tests for invalid number literals
  test/tests/functions/number.json
Labels: fast-track, test-suite

#1042 Post-47 front door
  README.md
Labels: documentation, organizational, fast-track, editorial, LDML47

#1057 Fix markup examples to show that literals work normally
  spec/syntax.md
Labels: syntax, fast-track, editorial

#1054 Clarify option resolution regarding fallback option values
  spec/formatting.md
Labels: formatting, LDML48

#1048 Fix select tests to not presume fallback for formatting
  test/tests/functions/integer.json
  test/tests/functions/number.json
Labels: test-suite

#1060 In tests, use "text" rather than "literal" as the type for formatted-parts text parts
  test/schemas/v0/tests.schema.json
  test/tests/syntax.json
  test/tests/u-options.json
Labels: test-suite

#1061 In test suite, drop source from non-fallback formatted parts
  .github/workflows/validate_tests.yml
  test/schemas/v0/tests.schema.json
  test/tests/bidi.json
  test/tests/data-model-errors.json
  test/tests/fallback.json
  test/tests/functions/currency.json
  test/tests/functions/date.json
  test/tests/functions/datetime.json
  test/tests/functions/integer.json
  test/tests/functions/math.json
  test/tests/functions/number.json
  test/tests/functions/string.json
  test/tests/functions/time.json
  test/tests/pattern-selection.json
  test/tests/syntax-errors.json
  test/tests/syntax.json
  test/tests/u-options.json
Labels: test-suite

#1050 Add test tags, initially for u: options
  test/README.md
  test/schemas/v0/tests.schema.json
  test/tests/u-options.json
Labels: test-suite
