Repository unicode-org/message-format-wg, pull requests merged in 2025-02, with the labels that each got.

#991 Drop selection from :currency and :unit
  spec/functions/number.md
  test/tests/functions/currency.json
Labels: registry, LDML47

#1000 spec: fix bad links to cldr-smoke
  exploration/default-registry-and-mf1-compatibility.md
  exploration/number-selection.md
  spec/functions/README.md
  spec/functions/datetime.md
  spec/functions/number.md
  spec/u-namespace.md
Labels: fast-track, editorial

#999 Remove coercion from :string tests
  test/tests/functions/string.json
Labels: test-suite

#996 Add missing "literal" specifier for key equality
  spec/syntax.md
Labels: syntax, Agenda+

#989 Simplify syntax character definitions, dropping content-char
  spec/message.abnf
  spec/syntax.md
Labels: syntax, fast-track, editorial

#1002 Add a note about representing the string `*` in a key
  spec/syntax.md
Labels: editorial, LDML47

#983 Drop references to a "function registry"
  spec/formatting.md
  spec/functions/README.md
  spec/functions/datetime.md
  spec/functions/number.md
  spec/intro.md
  spec/syntax.md
Labels: registry, LDML47

#1008 Rationalize name-char
  spec/message.abnf
  spec/syntax.md
Labels: syntax, normative, LDML47

#1016 Require select option to be set by a literal value
  spec/functions/number.md
  test/tests/functions/integer.json
  test/tests/functions/number.json
Labels: functions, Agenda+, errors, LDML47

#1015 Drop the notation, compactDisplay, & numberingSystem options
  spec/formatting.md
  spec/functions/README.md
  spec/functions/datetime.md
  spec/functions/number.md
Labels: functions, Agenda+, LDML47

#1010 Fix normative language in notes
  spec/intro.md
  spec/syntax.md
Labels: normative, specification, LDML47

#1012 Define optionality separately for each u: option
  spec/u-namespace.md
Labels: LDML47

#1007 Preparing the specification for LDML47 release
  spec/appendices.md
  spec/data-model/README.md
  spec/errors.md
  spec/formatting.md
  spec/functions/README.md
  spec/functions/datetime.md
  spec/functions/number.md
  spec/intro.md
  spec/syntax.md
  spec/u-namespace.md
Labels: normative, specification, LDML47

#1018 Move note about Draft vs. Stable status to Stability Policy
  spec/functions/README.md
  spec/intro.md
Labels: fast-track, editorial

#1019 Include explicit text on literal option origin
  spec/formatting.md
Labels: blocker, functions, fast-track, formatting, LDML47

#1022 Add missing suggestion from #1019
  spec/formatting.md
Labels: fast-track, formatting

#1020 Add tests for extended name character range
  test/tests/syntax-errors.json
  test/tests/syntax.json
Labels: fast-track, test-suite

#1023 Fix term link errors
  spec/formatting.md
  spec/functions/datetime.md
  spec/functions/number.md
  spec/syntax.md
Labels: fast-track, specification, out-of-scope?, LDML47

#1027 Clarify option literalness details
  spec/formatting.md
Labels: fast-track, editorial, formatting, LDML47

#1035 Remove note about Final Candidate
  spec/formatting.md
Labels: fast-track, editorial, formatting, LDML47

#1037 Text consistency
  spec/syntax.md
Labels: syntax, fast-track, editorial, LDML47

#1039 Define _option value_ and _digit size option_
  spec/errors.md
  spec/formatting.md
  spec/functions/README.md
  spec/functions/datetime.md
  spec/functions/number.md
  spec/functions/string.md
  spec/intro.md
  spec/syntax.md
  spec/u-namespace.md
Labels: fast-track, specification, LDML47

#1025 Allow valid message invalidation with new default functions
  spec/intro.md
Labels: editorial, specification, LDML47

#1036 Literal keys contents / values
  spec/syntax.md
Labels: syntax, editorial, LDML47
